body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


/* ================ HEADER ========================= */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 10%; 
    width: 100%;
    background-color: #592202;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 8%;
    width: 100%;
    z-index: 999;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    width: auto; 
}

.menu{
    margin-right: 2%;
}

.menu a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}


/* ==============================  MAIN  =========================== */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home{
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
}

.home::before{
    content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/images/_7276a4c2-cd9a-4384-9ce8-2796e9419d9a.jpg);
            background-size: cover;
            background-position: center;
            filter: saturate(0.5); /* Aqui está o filtro de saturação, ajuste conforme necessário */
            filter: blur(15px);
            z-index: -1; /
}
.conteudo-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    height: 80vh;
    
}

.conteudo-main h1{
    font-size: 6em;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
    margin-bottom: 2%;
    text-shadow: 2px 2px 4px #F2CE16;
}

.conteudo-main p{
    font-size: 2em;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    background-color: rgb(242, 206, 22, 0.5);
    border-radius: 25px;
    word-spacing: 5px;
}
