@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,401;1,401&display=swap');

html{
    scroll-behavior: smooth;
}

:root {
    --cor-primaria: rgb(242, 92, 5); 
    --cor-secundaria: rgb(242, 206, 22); 
    --cor-secundária-escura: rgb(242, 191, 39);
    --cor-escura: rgb(89, 34, 2);
    --branco: white;
    --preto: black;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}




/* ================ HEADER ========================= */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 10%; 
    width: 100%;
    background-color: var(--cor-primaria);
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 8%;
    width: 100%;
    z-index: 999;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    width: auto; 
}

.menu{
    margin-right: 2%;
}

.menu ul{
    display: flex;
    list-style-type: none;
}
.menu a {
    margin-right: 20px;
    color: var(--cor-secundária-escura);
    text-decoration: none;
    -webkit-text-stroke: 1px black;

}


/* ==============================  MAIN  =========================== */

/* HOME */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home{
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    border-bottom: 5px solid var(--cor-escura);
}

.home::before{
    content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(images/background.webp);
            background-size: cover;
            background-position: center;
            filter: saturate(0.5); /* Aqui está o filtro de saturação, ajuste conforme necessário */
            filter: blur(5px);
            z-index: -1; /
}
.conteudo-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
}

.conteudo-main h1{
    font-size: 6em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2%;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

/* === SOBRE === */

.sobre{
    display: flex;
    padding: 5%;
    border-bottom: 5px solid var(--cor-escura);
}
.sobre p{
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
}

/* SERVIÇOS */

.servicos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 3%;
    background-color: var(--cor-secundaria);
}

.servicos a{
    text-decoration: none;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    color: var(--preto);
}

.servicos p{
    font-size: 1.5rem;
    font-weight: 800;
}

.servicos img:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
    filter: brightness(70%);
}

.servicos img:hover + p{
    color: var(--cor-primaria);
}

.servicos img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: filter 0.3s ease;
}

/* FORMULÁRIO */


.contato {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5%;
    background-color: var(--cor-secundária-escura);
}

.cta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cta p{
    font-size: 1.8rem;
}

.cta h2{
    display: flex;
}
.cta a{
    text-decoration: none;
    color: var(--preto);
}

.cta img{
    width: 2rem;
}

.formulario p{
    font-size: 1.8rem;
}

.form-row {
    display: flex;
    flex-direction: column;
} 

.formulario label{
    font-size: 1.3rem;
}

.formulario button{
    border: 2px solid black;
    color: var(--preto);
    background-color: var(--cor-primaria);
    font-size: 1rem;
    padding: .50rem;
    max-width: 18rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: "Cormorant Garamond", serif;
}


input[type="text"],
input[type="email"],
textarea {
    font-size: 1.2rem;
    width:80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

textarea {
    width: 100%;
}


/* FOOTER */

.footer a{
    color: var(--branco);
}

.footer{
    background-color: var(--cor-escura);
    display: flex;
    justify-content: center;
    color: var(--branco);
}
